<div class="modal-dialog modal-dialog-company modal-dialog-centered" role="document">
    <div class="modal-content-company-details">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="wrapper-company-modal-infos">
        <div class="modal-previous-container">
          <div class="modal-previous-button-container">
            <a href="" data-toggle="modal" data-target="#<%=previous_company.id%>-internet-review-modal" data-dismiss="modal">
              <i class="fa fa-chevron-left"></i>
            </a>
          </div>
        </div>

        <div class="wrapper-company-items">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Company name</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Company name"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>BvD ID number</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["BvD ID number"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Country</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Country"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Address</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Address"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Website</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Website"] %></p>
            </div>
          </div>
          <div class="modal-body-company-button-container">

            <% if company.accepted %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :accepted, value: false %>
                <%= f.submit 'Accepted', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :accepted, value: true %>
                <%= f.submit 'Accept', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
        </div>
        <div class="wrapper-company-trade-descriptions">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (original language)</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company.trade_description_original %></p>
            </div>
          </div>
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (english)</h3>
            </div>
            <div class="modal-body-item-content">

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.text_field :trade_description_en, placeholder: company.trade_description_en, class: 'trade-description-input', id: "#{company.id}-trade-description-english-input" %>
                <%= f.submit 'save changes', class: 'hidden', id: "#{company.id}-trade-description-english-submit" %>
              <% end %>
            </div>
          </div>
          <div class="modal-body-item-container">
            <div class="modal-body-item-title" style="color:black">
              <h3>User comment</h3>
            </div>
            <div class="modal-body-item-content">

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.text_field :comment, placeholder: company.comment, class: 'comment-input', id: "#{company.id}-comment-input" %>
                <%= f.submit 'save changes', class: 'hidden', id: "#{company.id}-comment-submit" %>
              <% end %>
            </div>
          </div>
          <div class="modal-body-company-button-container">

            <% if company.unrelated_function %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_function, value: false %>
                <%= f.submit 'Unrelated functions', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_function, value: true %>
                <%= f.submit 'Unrelated functions', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.unrelated_activity %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_activity, value: false %>
                <%= f.submit 'Unrelated activity', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_activity, value: true %>
                <%= f.submit 'Unrelated activity', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.group %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: false %>
                <%= f.submit 'Part of a group', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: true %>
                <%= f.submit 'Part of a group', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.lack_information %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: false %>
                <%= f.submit 'Insufficient info', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: true %>
                <%= f.submit 'Insufficient info', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
        </div>

        <div class="modal-next-container">
          <div class="modal-next-button-container">
            <a href="" data-toggle="modal" data-target="#<%=next_company.id%>-internet-review-modal" data-dismiss="modal">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="modal-body-company" id="trade-description-english">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
