<div>

  <div id='<%=company.id%>-trade-description-show'>

    <% if company.unset_trade_description %>

    <a href="#" data-toggle="modal" data-target='#<%=company.id%>-trade-description-modal'>

      <div class="companies-trade-description-review-content-detail-current">
        <div class="companies-trade-description-review-content-detail-name">
          <p><%=company["Company name"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-BvD">
          <p><%=company["BvD ID number"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Country"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Website"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_en%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_original%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-financials">
          <% if @project_version.pli == 'ROS' %>
            <% if company.ros_avg %>
              <p><%=number_to_percentage((company.ros_avg) * 100, precision: 2)%></p>
            <% end %>
          <% elsif @project_version.pli == 'FCMU'%>
            <% if company.fcmu_avg %>
              <p><%=number_to_percentage((company.fcmu_avg) * 100, precision: 2)%></p>
            <% end %>
          <% end %>
        </div>
        <div class="companies-trade-description-review-content-detail-rejection">
        </div>
      </div>

    </a>

    <% elsif company.accepted_for_internet_review %>

    <a href="#" data-toggle="modal" data-target='#<%=company.id%>-trade-description-modal'>

      <div class="companies-trade-description-review-content-detail-current-accepted">
        <div class="companies-trade-description-review-content-detail-name">
          <p><%=company["Company name"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-BvD">
          <p><%=company["BvD ID number"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Country"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Website"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_en%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_original%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-financials">
          <% if @project_version.pli == 'ROS' %>
            <% if company.ros_avg %>
              <p><%=number_to_percentage((company.ros_avg) * 100, precision: 2)%></p>
            <% end %>
          <% elsif @project_version.pli == 'FCMU'%>
            <% if company.fcmu_avg %>
              <p><%=number_to_percentage((company.fcmu_avg) * 100, precision: 2)%></p>
            <% end %>
          <% end %>
        </div>
        <div class="companies-trade-description-review-content-detail-rejection">
        </div>
      </div>

    </a>

    <% else %>

    <a href="#" data-toggle="modal" data-target='#<%=company.id%>-trade-description-modal'>

      <div class="companies-trade-description-review-content-detail-current-rejected">
        <div class="companies-trade-description-review-content-detail-name">
          <p><%=company["Company name"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-BvD">
          <p><%=company["BvD ID number"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Country"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-text">
          <p><%=company["Website"]%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_en%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-trade-description">
          <p><%=company.trade_description_original%></p>
        </div>
        <div class="companies-trade-description-review-content-detail-financials">
          <% if @project_version.pli == 'ROS' %>
            <% if company.ros_avg %>
              <p><%=number_to_percentage((company.ros_avg) * 100, precision: 2)%></p>
            <% end %>
          <% elsif @project_version.pli == 'FCMU'%>
            <% if company.fcmu_avg %>
              <p><%=number_to_percentage((company.fcmu_avg) * 100, precision: 2)%></p>
            <% end %>
          <% end %>
        </div>
        <div class="companies-trade-description-review-content-detail-rejection">
          <p>x</p>
        </div>
      </div>

    </a>

    <% end %>

  </div>

</div>
