<div class="modal fade" id='<%=company.id%>-trade-description-modal' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-company modal-dialog-centered" role="document">
    <div class="modal-content-company-details">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="wrapper-company-modal-infos">
        <div class="wrapper-company-items">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Company name</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Company name"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>BvD ID number</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["BvD ID number"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Country</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Country"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Address</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Address"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Website</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Website"] %></p>
            </div>
          </div>
        </div>
        <div class="wrapper-company-trade-descriptions">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (original language)</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company.trade_description_original %></p>
            </div>
          </div>
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (english)</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company.trade_description_en %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-body-company" id="trade-description-english">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
