<% next_company = accepted_companies_for_manual_review[index+1] %>
<% if next_company.nil? %>
  <% next_company = accepted_companies_for_manual_review[0] %>
<% end %>
<% previous_company = accepted_companies_for_manual_review[index-1] %>
<% if previous_company.nil? %>
  <% previous_company = accepted_for_manual_review.last %>
<% end %>

<div class="modal fade" id='<%=company.id%>-trade-description-modal' tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-company modal-dialog-centered" role="document">
    <div class="modal-content-company-details">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="wrapper-company-modal-infos">
        <div class="modal-previous-container">
          <div class="modal-previous-button-container">
            <a href="" data-toggle="modal" data-target="#<%=previous_company.id%>-trade-description-modal" data-dismiss="modal">
              <i class="fa fa-chevron-left"></i>
            </a>
          </div>
        </div>

        <div class="wrapper-company-items">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Company name</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Company name"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>BvD ID number</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["BvD ID number"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Country</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Country"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Address</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company["Address"] %></p>
            </div>
          </div>
          <div class="modal-body-company-item-container">
            <div class="modal-body-item-title">
              <h3>Website</h3>
            </div>
            <div class="modal-body-item-content">
              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.text_field :Website, placeholder: company.Website, class: 'website-input', id: "#{company.id}-website-input" %>
                <%= f.submit 'save changes', class: 'hidden', id: "#{company.id}-website-submit" %>
              <% end %>
            </div>
          </div>
          <div class="modal-body-company-button-container">

            <% if company.accepted_for_internet_review %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :accepted_for_internet_review, value: false %>
                <%= f.submit 'Accepted', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :accepted_for_internet_review, value: true %>
                <%= f.submit 'Accept', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
        </div>
        <div class="wrapper-company-trade-descriptions">
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (original language)</h3>
            </div>
            <div class="modal-body-item-content">
              <p><%= company.trade_description_original %></p>
              <a href="https://translate.google.fr/?hl=fr#auto/en/<%=company.trade_description_original%>" target="_blank">To English (Google Translate)</a>
            </div>
            <div class="modal-body-item-translation">
            </div>

          </div>
          <div class="modal-body-item-container">
            <div class="modal-body-item-title">
              <h3>Trade description (english)</h3>
            </div>
            <div class="modal-body-item-content">

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.text_area :trade_description_en, as: :text, placeholder: company.trade_description_en, class: 'trade-description-input', id: "#{company.id}-trade-description-english-input" %>
                <%= f.submit 'save changes', class: 'hidden', id: "#{company.id}-trade-description-english-submit" %>
              <% end %>
            </div>
          </div>
          <div class="modal-body-item-container">
            <div class="modal-body-item-title" style="color:black">
              <h3>User comment</h3>
            </div>
            <div class="modal-body-item-content">

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.text_area :comment, as: :text, placeholder: company.comment, class: 'comment-input', id: "#{company.id}-comment-input" %>
                <%= f.submit 'save changes', class: 'hidden', id: "#{company.id}-comment-submit" %>
              <% end %>
            </div>
          </div>
          <div class="modal-body-company-button-container">

            <% if company.unrelated_function && company.accepted_for_internet_review == 'false' %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_function, value: false %>
                <%= f.submit 'Unrelated functions', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_function, value: true %>
                <%= f.submit 'Unrelated functions', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.unrelated_activity && company.accepted_for_internet_review == 'false' %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_activity, value: false %>
                <%= f.submit 'Unrelated activity', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :unrelated_activity, value: true %>
                <%= f.submit 'Unrelated activity', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.group && company.accepted_for_internet_review == 'false' %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: false %>
                <%= f.submit 'Part of a group', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :group, value: true %>
                <%= f.submit 'Part of a group', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
          <div class="modal-body-company-button-container">

            <% if company.lack_information && company.accepted_for_internet_review == 'false'%>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :lack_information, value: false %>
                <%= f.submit 'Insufficient info', class: 'btn btn-primary btn-company-modal-pushed' %>
              <% end %>

            <% else %>

              <%= form_for([project_version, company], remote: true) do |f| %>
                <%= f.hidden_field :lack_information, value: true %>
                <%= f.submit 'Insufficient info', class: 'btn btn-primary btn-company-modal' %>
              <% end %>

            <% end %>

          </div>
        </div>

        <div class="modal-next-container">
          <div class="modal-next-button-container">
            <a href="" data-toggle="modal" data-target="#<%=next_company.id%>-trade-description-modal" data-dismiss="modal">
              <i class="fa fa-chevron-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var $inputTD<%=company.id%> = $('#<%=company.id%>-trade-description-english-input');
  var $submitTD<%=company.id%> = $('#<%=company.id%>-trade-description-english-submit');
  var typingTimerTD;                //timer identifier
  var doneTypingIntervalTD = 3000;  //time in ms, 3 second for example

  var $inputComment<%=company.id%> = $('#<%=company.id%>-comment-input');
  var $submitComment<%=company.id%> = $('#<%=company.id%>-comment-submit');
  var typingTimerComment;                //timer identifier
  var doneTypingIntervalComment = 3000;  //time in ms, 3 second for example

  var $inputWebsite<%=company.id%> = $('#<%=company.id%>-website-input');
  var $submitWebsite<%=company.id%> = $('#<%=company.id%>-website-submit');
  var typingTimerWebsite;                //timer identifier
  var doneTypingIntervalWebsite = 3000;  //time in ms, 3 second for example

  //on keyup, start the countdown
  $inputTD<%=company.id%>.on('keyup', function () {
    clearTimeout(typingTimerTD);
    typingTimerTD = setTimeout(doneTypingTD<%=company.id%>, doneTypingIntervalTD);
  });

  $inputComment<%=company.id%>.on('keyup', function () {
    clearTimeout(typingTimerComment);
    typingTimerComment = setTimeout(doneTypingComment<%=company.id%>, doneTypingIntervalComment);
  });

  $inputWebsite<%=company.id%>.on('keyup', function () {
    clearTimeout(typingTimerWebsite);
    typingTimerWebsite = setTimeout(doneTypingWebsite<%=company.id%>, doneTypingIntervalWebsite);
  });

  //on keydown, clear the countdown
  $inputTD<%=company.id%>.on('keydown', function () {
    clearTimeout(typingTimerTD);
  });

  $inputComment<%=company.id%>.on('keydown', function () {
    clearTimeout(typingTimerComment);
  });

  $inputWebsite<%=company.id%>.on('keydown', function () {
    clearTimeout(typingTimerWebsite);
  });

  //user is "finished typing," do something
  function doneTypingTD<%=company.id%> () {
    $submitTD<%=company.id%>.click();
  }
  function doneTypingComment<%=company.id%> () {
    $submitComment<%=company.id%>.click();
  }
  function doneTypingWebsite<%=company.id%> () {
    $submitWebsite<%=company.id%>.click();
  }
</script>
