<div class="container-nav-buttons">
  <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <%= button_to "Versions", project_version_mark_open_tab_path(project_version, open_tab: 'Versions'), :method => :put, class: 'btn btn-primary btn-tab' %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <%= button_to "Financial criteria", project_version_mark_open_tab_path(project_version, open_tab: 'Financial criteria'), :method => :put, class: 'btn btn-tab' %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Third group">
      <%= button_to "Trade description review", project_version_mark_open_tab_path(project_version, open_tab: 'Trade description review'), :method => :put, class: 'btn btn-tab' %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Fourth group">
      <%= button_to "Internet review", project_version_mark_open_tab_path(project_version, open_tab: 'Internet review'), :method => :put, class: 'btn btn-tab' %>
    </div>
    <div class="btn-group mr-2" role="group" aria-label="Fifth group">
      <%= button_to "Results", project_version_mark_open_tab_path(project_version, open_tab: 'Internet review'), :method => :put, class: 'btn btn-tab' %>
    </div>
  </div>
  <% unless @ros_results_final.empty? %>
    <div class="final-sample-pli-results-wrapper">
      <div class="final-sample-pli-results-item">
        <h4>Max</h4>
        <p><%=number_to_percentage(@ros_results_final.max * 100, precision: 2)%></p>
      </div>
      <div class="final-sample-pli-results-item">
        <h4>Q3</h4>
        <p><%=number_to_percentage(@ros_results_final.percentile(75) * 100, precision: 2)%></p>
      </div>
      <div class="final-sample-pli-results-item">
        <h4>Median</h4>
        <p><%=number_to_percentage(@ros_results_final.median * 100, precision: 2)%></p>
      </div>
      <div class="final-sample-pli-results-item">
        <h4>Q1</h4>
        <p><%=number_to_percentage(@ros_results_final.percentile(25) * 100, precision: 2)%></p>
      </div>
      <div class="final-sample-pli-results-item">
        <h4>Min</h4>
        <p><%=number_to_percentage(@ros_results_final.min * 100, precision: 2)%></p>
      </div>
    </div>
  <% end %>

</div>

  <!-- project version -->
  <div class="wrapper-project-versions" id="versions">

    <div class="container-content-project-versions">

      <div class="project-version-content-detail">
        <div class="project-version-content-detail-title">
          <div class="project-version-content-detail-description">
            <h4>Version name</h4>
          </div>
          <div class="project-version-content-detail-period">
            <h4>Years analyzed</h4>
          </div>
          <div class="project-version-content-detail-created">
            <h4>Created on</h4>
          </div>
        </div>

        <div class="project-version-content-detail-current">
          <div class="project-version-content-detail-description">
            <p><%=project_version.description%></p>
          </div>
          <div class="project-version-content-detail-period">
            <p><%=project_version.year_1%>-<%=project_version.year_3%></p>
          </div>
          <div class="project-version-content-detail-created">
            <p><%=project_version.created_at.strftime('%d/%m/%Y')%></p>
          </div>
        </div>
      </div>

      <div class="new-item-link" id="new-excel-open" onclick="showAddFeature('new-excel', 'new-excel-open')">
        <a><i class="fa fa-plus-circle icon-left"></i>  Import new excel</p></a>
      </div>

      <div class= "hidden" id="new-excel">
        <div class="new-item-link" id="new-excel-close" onclick="hideAddFeature('new-excel-open', 'new-excel')">
          <a><i class="fa fa-minus-circle icon-left"></i>  Import new excel</p></a>
        </div>

        <div class="project-version-content-actions">
          <%=form_tag import_project_version_companies_path(project_version), multipart: true do %>
            <%= file_field_tag :file %>
            <%= submit_tag "Import Excel"%>
          <% end %>

<!--           <form method="POST" action="#" enctype="multipart/form-data"> -->
            <!-- COMPONENT START -->
<!--             <div class="form-group">
              <div class="input-group input-file" name="Fichier1">
                <input type="text" class="form-control" placeholder='Choose a file...' />
                <span class="input-group-btn">
                  <button class="btn btn-default btn-choose" type="button">Choose</button>
                </span>
              </div>
            </div> -->
            <!-- COMPONENT END -->
<!--             <div class="form-group">
              <button type="submit" class="btn btn-primary pull-right" disabled>Submit</button>
              <button type="reset" class="btn btn-danger">Reset</button>
            </div>
          </form> -->
        </div>
      </div>

      <div class="project-version-content-actions">
        <div class="btn-group" role="group" aria-label="First group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProjectVersionModal">Create new version</button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Second group">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#selectProjectVersionModal'>Select other version </button>
        </div>
      </div>
    </div>

    <div class="container-actions-project-versions">
      <div class="container-actions-project-versions-title">
        <h3>Companies Selection</h4>
      </div>
      <div class="container-actions-project-versions-results">
        <p>Total number of companies: <%=project_version.companies.count%></p>
        <p>Unset companies: <%=@unset_companies.count%></p>
        <p>Accepted companies: <%=accepted_companies.count%></p>
        <p>Rejected companies: <%=project_version.companies.count - @accepted_companies.count - @unset_companies.count%></p>
      </div>
    </div>

  </div>
