
<% case @project_version.open_tab %>
<% when "Versions" || nil %>

  <%= render 'project_versions/version_tab', project_version: @project_version, unset_companies: @unset_companies, accepted_companies: @accepted_companies, project: @project %>

<% when "Financial criteria" %>

  <%= render 'project_versions/financial_criteria_tab', project_version: @project_version, unset_companies: @unset_companies, accepted_companies: @accepted_companies, new_financial_filter: @new_financial_filter, financial_filters: @financial_filters, project: @project  %>

<% when "Trade description review" %>

  <div class="container-nav-buttons">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <%= button_to "Versions", project_version_mark_open_tab_path(@project_version, open_tab: 'Versions'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <%= button_to "Financial criteria", project_version_mark_open_tab_path(@project_version, open_tab: 'Financial criteria'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <%= button_to "Trade description review", project_version_mark_open_tab_path(@project_version, open_tab: 'Trade description review'), :method => :put, class: 'btn btn-primary' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Fourth group">
        <%= button_to "Internet review", project_version_mark_open_tab_path(@project_version, open_tab: 'Internet review'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Fifth group">
        <%= button_to "Results", project_version_mark_open_tab_path(@project_version, open_tab: 'Internet review'), :method => :put, class: 'btn' %>
      </div>
    </div>
  </div>

  <!-- Trade description review -->
  <div class="wrapper-project-versions" id="trade-description">

    <div class="content-companies-trade-description-review-wrapper">

      <div class="container-content-companies-trade-description-review">


        <div class="companies-trade-description-review-content-detail">
          <div class="companies-trade-description-review-content-detail-title">
            <div class="companies-trade-description-review-content-detail-name">
              <h4>Company</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-BvD">
              <h4>BvD ID</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-text">
              <h4>Country</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-text">
              <h4>Website</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-trade-description">
              <h4>Trade description<br>(English)</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-trade-description">
              <h4>Trade description<br>(original language)</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-financials">
              <h4>ROS <br> W/A</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-rejection">
              <h4>Rejected <br> Financial criteria</h4>
            </div>
            <div class="companies-trade-description-review-content-detail-rejection">
              <h4>Rejected <br> Manual review</h4>
            </div>

          </div>

          <%@project_version.companies.sort_by(&:"BvD ID number").each do |company|%>

            <% unless company.losses || company.turnover || company.lack_financials || company.unrelated_activity || company.lack_information|| company.unrelated_function || company.group %>

              <a href="" data-toggle="modal" data-target="#company-details-modal" onclick="fillInCompanyInfo(<%=company['BvD ID number']%>)">

                <div class="companies-trade-description-review-content-detail-current">
                  <div class="companies-trade-description-review-content-detail-name">
                    <p><%=company["Company name"]%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-BvD">
                    <p><%=company["BvD ID number"]%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-text">
                    <p><%=company["Country"]%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-text">
                    <p><%=company["Website"]%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-trade-description">
                    <p><%=company.trade_description_en%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-trade-description">
                    <p><%=company.trade_description_original%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-financials">
                    <p><%=number_to_percentage((company["EBIT 2013"].to_f + company["EBIT 2012"].to_f + company["EBIT 2011"].to_f)/ (company["Turnover 2013"].to_f + company["Turnover 2012"].to_f + company["Turnover 2011"].to_f) * 100, precision: 2)%></p>
                  </div>
                  <div class="companies-trade-description-review-content-detail-rejection">
                    <% if company.losses == true || company.lack_financials == true || company.turnover == true %>
                      <p>x</p>
                    <% end %>
                  </div>
                  <div class="companies-trade-description-review-content-detail-rejection">
                  </div>
                </div>

              </a>

            <% else %>

              <div class="companies-trade-description-review-content-detail-current-rejected">
                <div class="companies-trade-description-review-content-detail-name">
                  <p><%=company["Company name"]%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-BvD">
                  <p><%=company["BvD ID number"]%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-text">
                  <p><%=company["Country"]%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-text">
                  <p><%=company["Website"]%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-trade-description">
                  <p><%=company.trade_description_en%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-trade-description">
                  <p><%=company.trade_description_original%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-financials">
                  <p><%=number_to_percentage((company["EBIT 2013"].to_f + company["EBIT 2012"].to_f + company["EBIT 2011"].to_f)/ (company["Turnover 2013"].to_f + company["Turnover 2012"].to_f + company["Turnover 2011"].to_f) * 100, precision: 2)%></p>
                </div>
                <div class="companies-trade-description-review-content-detail-rejection">
                  <% if company.losses == true || company.lack_financials == true || company.turnover == true %>
                    <p>x</p>
                  <% end %>
                </div>
                <div class="companies-trade-description-review-content-detail-rejection">
                </div>
              </div>

            <% end %>

          <% end %>

        </div>

      </div>

    </div>

    <div class="container-actions-project-versions">
      <div class="container-actions-project-versions-title">
        <h3>Companies Selection</h3>
      </div>
      <div class="container-actions-project-versions-results">
        <p>Total number of companies: <%=@project_version.companies.count%></p>
        <p>Unset: <%=@unset_companies.count%></p>
        <p>Accepted: <%=@accepted_companies.count%></p>
        <p>Rejected: <%=@project_version.companies.count - @accepted_companies.count - @unset_companies.count%></p>
      </div>
      <div class="container-actions-project-versions-title">
        <h3>Financial results</h3>
      </div>
      <div class="container-actions-project-versions-action">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProjectVersionModal">
         Create project
        </button>
      </div>
    </div>

  </div>

<% when "Internet review" %>

  <div class="container-nav-buttons">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <%= button_to "Versions", project_version_mark_open_tab_path(@project_version, open_tab: 'Versions'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Second group">
        <%= button_to "Financial criteria", project_version_mark_open_tab_path(@project_version, open_tab: 'Financial criteria'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Third group">
        <%= button_to "Trade description review", project_version_mark_open_tab_path(@project_version, open_tab: 'Trade description review'), :method => :put, class: 'btn' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Fourth group">
        <%= button_to "Internet review", project_version_mark_open_tab_path(@project_version, open_tab: 'Internet review'), :method => :put, class: 'btn btn-primary' %>
      </div>
      <div class="btn-group mr-2" role="group" aria-label="Fifth group">
        <%= button_to "Results", project_version_mark_open_tab_path(@project_version, open_tab: 'Internet review'), :method => :put, class: 'btn' %>
      </div>
    </div>
  </div>

<% end %>

<!-- modal create version -->

<div class="modal fade" id="newProjectVersionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= simple_form_for (@new_project_version) do |f| %>
        <div class="modal-body">
          <%= f.input :description, label: 'Version Description', required: true%>
          <%= f.hidden_field :project_id, :value=> @project_version.project_id %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Ajouter", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="company-details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-header">
      </div>
      <div class="modal-body-company" id="trade-description-english">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>


<!-- JS new excel -->

  <script>

    const fillInCompanyInfo = (i) => {
      console.log(i)
      let company = gon.unset_companies.find(x => x["BvD ID number"] == i);
      document.getElementById("trade-description-english").innerHTML = company.trade_description_en;
      }

    const showAddFeature = (i, j) => {
      document.getElementById(i).classList.remove("hidden")
      document.getElementById(j).classList.add("hidden")
      }

    const hideAddFeature = (i, j) => {
      document.getElementById(i).classList.remove("hidden")
      document.getElementById(j).classList.add("hidden")
      }

  </script>
