<?xml version="1.0"?>
<?mso-application progid="Excel.Sheet"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:o="urn:schemas-microsoft-com:office:office"
 xmlns:x="urn:schemas-microsoft-com:office:excel"
 xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
 xmlns:html="http://www.w3.org/TR/REC-html40">
 <DocumentProperties xmlns="urn:schemas-microsoft-com:office:office">
  <Author>Philippe Gadiou</Author>
  <LastAuthor>Philippe Gadiou</LastAuthor>
  <Created>2018-07-06T07:49:14Z</Created>
  <LastSaved>2018-07-15T09:31:54Z</LastSaved>
  <Version>16.00</Version>
 </DocumentProperties>
 <OfficeDocumentSettings xmlns="urn:schemas-microsoft-com:office:office">
  <AllowPNG/>
 </OfficeDocumentSettings>
 <ExcelWorkbook xmlns="urn:schemas-microsoft-com:office:excel">
  <WindowHeight>16240</WindowHeight>
  <WindowWidth>28240</WindowWidth>
  <WindowTopX>280</WindowTopX>
  <WindowTopY>460</WindowTopY>
  <ActiveSheet>1</ActiveSheet>
  <ProtectStructure>False</ProtectStructure>
  <ProtectWindows>False</ProtectWindows>
 </ExcelWorkbook>
 <Styles>
  <Style ss:ID="Default" ss:Name="Normal">
   <Alignment ss:Vertical="Bottom"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <Interior/>
   <NumberFormat/>
   <Protection/>
  </Style>
  <Style ss:ID="s16" ss:Name="Milliers">
   <NumberFormat
    ss:Format="_ * #,##0.00_)\ _€_ ;_ * \(#,##0.00\)\ _€_ ;_ * &quot;-&quot;??_)\ _€_ ;_ @_ "/>
  </Style>
  <Style ss:ID="s20" ss:Name="Pourcentage">
   <NumberFormat ss:Format="0%"/>
  </Style>
  <Style ss:ID="m105553120065908">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"
    ss:Bold="1"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m105553120065928">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
   <Interior ss:Color="#E7E6E6" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m105553120065948">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
   <Interior ss:Color="#E7E6E6" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m105553120065968">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
   <Interior ss:Color="#E7E6E6" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m106102877868560">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="m106102877868580">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="m106102877868600">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="m106102877868620">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="m106102877868640">
   <Alignment ss:Horizontal="Center" ss:Vertical="Bottom"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="m105553126238904">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"
    ss:Bold="1"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="m105553126240508">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s80">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Rotate="90"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s81">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Rotate="90"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s82">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Rotate="90"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s84">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
  </Style>
  <Style ss:ID="s93">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s94">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s95">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s102">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders/>
  </Style>
  <Style ss:ID="s104">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders/>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s109">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s114">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s116">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s117">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s119">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s120">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"
    ss:Bold="1"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s124">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s125">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s126">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s127">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s128">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s129">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s130">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s136">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s137">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s138">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s143" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat
    ss:Format="_ * #,##0_)\ _€_ ;_ * \(#,##0\)\ _€_ ;_ * &quot;-&quot;??_)\ _€_ ;_ @_ "/>
  </Style>
  <Style ss:ID="s144">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s145">
   <Alignment ss:Horizontal="Left" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s146">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s149" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat
    ss:Format="_ * #,##0_)\ _€_ ;_ * \(#,##0\)\ _€_ ;_ * &quot;-&quot;??_)\ _€_ ;_ @_ "/>
  </Style>
  <Style ss:ID="s154">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:Rotate="90"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s157">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
  </Style>
  <Style ss:ID="s158" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s162" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s163" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s164" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s165" ss:Parent="s20">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s166" ss:Parent="s20">
   <Alignment ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s194" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s195" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s196" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s197" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
  </Style>
  <Style ss:ID="s203">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s204">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s205">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"
    ss:Bold="1"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s223">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#FFFFFF"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#FFFFFF"/>
   <Interior ss:Color="#4472C4" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s239" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s240" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat ss:Format="0%"/>
  </Style>
  <Style ss:ID="s242" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
  </Style>
  <Style ss:ID="s243" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat ss:Format="0%"/>
  </Style>
  <Style ss:ID="s250" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
   <Interior ss:Color="#EDEDED" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s251" ss:Parent="s20">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"
    ss:Bold="1"/>
   <Interior ss:Color="#EDEDED" ss:Pattern="Solid"/>
  </Style>
  <Style ss:ID="s254" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat ss:Format="#,##0_);\(#,##0\)"/>
  </Style>
  <Style ss:ID="s255" ss:Parent="s16">
   <Alignment ss:Horizontal="Center" ss:Vertical="Center" ss:WrapText="1"/>
   <Borders>
    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"
     ss:Color="#4472C4"/>
   </Borders>
   <Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="12" ss:Color="#000000"/>
   <NumberFormat ss:Format="#,##0_);\(#,##0\)"/>
  </Style>
 </Styles>
 <Worksheet ss:Name="Rejection Matrix">
  <Names>
   <NamedRange ss:Name="Print_Titles" ss:RefersTo="='Rejection Matrix'!R2:R3"/>
  </Names>
  <Table ss:ExpandedColumnCount="14" ss:ExpandedRowCount="18" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="16">
   <Column ss:AutoFitWidth="0" ss:Width="16"/>
   <Column ss:AutoFitWidth="0" ss:Width="116"/>
   <Column ss:AutoFitWidth="0" ss:Width="84" ss:Span="2"/>
   <Column ss:Index="6" ss:AutoFitWidth="0" ss:Width="147"/>
   <Column ss:AutoFitWidth="0" ss:Width="245" ss:Span="1"/>
   <Row ss:AutoFitHeight="0"/>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="2" ss:MergeDown="1" ss:StyleID="s116"><Data ss:Type="String">Name</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">BvD Number</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">Country</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s119"><Data ss:Type="String">NAF code</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">Website</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s119"><Data ss:Type="String">Trade description (english)</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">Trade description (original language)</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeAcross="5" ss:StyleID="m105553120065908"><Data ss:Type="String">Rejection reasons</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="125">
    <Cell ss:Index="9" ss:StyleID="s80"><Data ss:Type="String">Losses</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s80"><Data ss:Type="String">Turnover</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s81"><Data ss:Type="String">Lack info.</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s82"><Data ss:Type="String">Unrelated functions</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s82"><Data ss:Type="String">Unrelated activity</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s154"><Data ss:Type="String">Group</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:MergeAcross="12" ss:StyleID="m105553120065928"><Data
      ss:Type="String">Accepted companies</Data></Cell>
   </Row>
   <% @accepted_companies.each do |company| %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:StyleID="s125"><Data ss:Type="String"><%= company["Company name"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="Number"><%= company["BvD ID number"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["Country"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["NACE / NAF code"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company.Website %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_en %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_original %></Data></Cell>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <Cell ss:StyleID="s126"><Data ss:Type="String"></Data></Cell>
   </Row>
   <% end %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:MergeAcross="12" ss:StyleID="m105553120065928"><Data
      ss:Type="String">Rejected After Internet Review</Data></Cell>
   </Row>
   <% @rejected_internet_review.each do |company| %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:StyleID="s125"><Data ss:Type="String"><%= company["Company name"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="Number"><%= company["BvD ID number"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["Country"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["NACE / NAF code"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company.Website %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_en %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_original %></Data></Cell>
    <% if company.losses? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.turnover? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.lack_information? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_function? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_activity? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.group? %>
    <Cell ss:StyleID="s126"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s126"><Data ss:Type="String"></Data></Cell>
    <% end %>
   </Row>
   <% end %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:MergeAcross="12" ss:StyleID="m105553120065928"><Data
      ss:Type="String">Rejected After Trade Description Review</Data></Cell>
   </Row>
   <% @rejected_trade_description_review.each do |company| %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:StyleID="s125"><Data ss:Type="String"><%= company["Company name"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="Number"><%= company["BvD ID number"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["Country"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["NACE / NAF code"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company.Website %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_en %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_original %></Data></Cell>
    <% if company.losses? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.turnover? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.lack_information? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_function? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_activity? %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.group? %>
    <Cell ss:StyleID="s126"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s126"><Data ss:Type="String"></Data></Cell>
    <% end %>
   </Row>
   <% end %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:MergeAcross="12" ss:StyleID="m105553120065928"><Data
      ss:Type="String">Rejected After Financial Filters</Data></Cell>
   </Row>
   <% @rejected_financial_filters.each do |company| %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:StyleID="s125"><Data ss:Type="String"><%= company["Company name"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="Number"><%= company["BvD ID number"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["Country"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company["NACE / NAF code"] %></Data></Cell>
    <Cell ss:StyleID="s93"><Data ss:Type="String"><%= company.Website %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_en %></Data></Cell>
    <Cell ss:StyleID="s94"><Data ss:Type="String"><%= company.trade_description_original %></Data></Cell>
    <% if company.losses == 'true' %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.turnover == 'true' %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.lack_information == 'true' %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_function == 'true' %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.unrelated_activity == 'true' %>
    <Cell ss:StyleID="s95"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s95"><Data ss:Type="String"></Data></Cell>
    <% end %>
    <% if company.group == 'true' %>
    <Cell ss:StyleID="s126"><Data ss:Type="String">x</Data></Cell>
    <% else %>
    <Cell ss:StyleID="s126"><Data ss:Type="String"></Data></Cell>
    <% end %>
   </Row>
   <% end %>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="6" ss:StyleID="s102"/>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape" x:CenterHorizontal="1"/>
    <Header x:Margin="0.3"
     x:Data="&amp;L&amp;&quot;Helvetica,Normal&quot;first version PG&#10;Fahim Entreprises&amp;R&amp;&quot;Helvetica,Normal&quot;Rejection Matrix"/>
    <Footer x:Margin="0.3" x:Data="&amp;C&amp;&quot;Calibri,Normal&quot;&amp;K000000&amp;P/&amp;N"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Unsynced/>
   <FitToPage/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>52</Scale>
    <VerticalResolution>0</VerticalResolution>
   </Print>
   <DoNotDisplayGridlines/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>3</ActiveRow>
     <ActiveCol>1</ActiveCol>
     <RangeSelection>R4C2:R4C14</RangeSelection>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
 <Worksheet ss:Name="Financial Analysis">
  <Names>
   <NamedRange ss:Name="Print_Titles" ss:RefersTo="='Financial Analysis'!R2:R3"/>
  </Names>
  <Table ss:ExpandedColumnCount="16" ss:ExpandedRowCount="14" x:FullColumns="1"
   x:FullRows="1" ss:DefaultColumnWidth="65" ss:DefaultRowHeight="16">
   <Column ss:AutoFitWidth="0" ss:Width="7"/>
   <Column ss:AutoFitWidth="0" ss:Width="116"/>
   <Column ss:AutoFitWidth="0" ss:Width="84" ss:Span="2"/>
   <Column ss:Index="6" ss:AutoFitWidth="0" ss:Width="245"/>
   <Column ss:AutoFitWidth="0" ss:Width="83" ss:Span="5"/>
   <Row ss:AutoFitHeight="0"/>
   <Row ss:AutoFitHeight="0" ss:Height="31">
    <Cell ss:Index="2" ss:MergeDown="1" ss:StyleID="s116"><Data ss:Type="String">Name</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">BvD Number</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s117"><Data ss:Type="String">Country</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="m105553126240508"><Data ss:Type="String">NAF code</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeDown="1" ss:StyleID="s119"><Data ss:Type="String">Trade description (english)</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeAcross="2" ss:StyleID="s120"><Data ss:Type="String">Turnover (in k€)</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeAcross="2" ss:StyleID="s120"><Data ss:Type="String">EBIT (in k€)</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:MergeAcross="3" ss:StyleID="m105553126238904"><Data ss:Type="String">PLI</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="55">
    <Cell ss:Index="7" ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_3 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_2 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number"><%= @project_version.year_1 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_3 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_2 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s104"><Data ss:Type="Number"><%= @project_version.year_1 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_3 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number"><%= @project_version.year_2 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s114"><Data ss:Type="Number"><%= @project_version.year_1 %></Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
    <Cell ss:StyleID="s124"><Data ss:Type="String">W/A</Data><NamedCell
      ss:Name="Print_Titles"/></Cell>
   </Row>
   <% @accepted_companies.each do |company| %>
   <Row ss:AutoFitHeight="0" ss:Height="40" ss:StyleID="s84">
    <Cell ss:Index="2" ss:StyleID="s136"><Data ss:Type="String"><%= company["Company name"] %></Data></Cell>
    <Cell ss:StyleID="s137"><Data ss:Type="Number"><%= company["BvD ID number"] %></Data></Cell>
    <Cell ss:StyleID="s137"><Data ss:Type="String"><%= company["Country"] %></Data></Cell>
    <Cell ss:StyleID="s137"><Data ss:Type="String"><%= company["NACE / NAF code"] %></Data></Cell>
    <Cell ss:StyleID="s138"><Data ss:Type="String"><%= company.trade_description_en %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.turnover_year_3 %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.turnover_year_2 %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.turnover_year_1 %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.EBIT_year_3 %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.EBIT_year_2 %></Data></Cell>
    <Cell ss:StyleID="s254"><Data ss:Type="Number"><%= company.EBIT_year_1 %></Data></Cell>
    <% if @project_version.pli == "ROS" %>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.ros_3 %></Data></Cell>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.ros_2 %></Data></Cell>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.ros_1 %></Data></Cell>
    <Cell ss:StyleID="s240"><Data
      ss:Type="Number"><%= company.ros_avg %></Data></Cell>
    <% else %>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.fcmu_3 %></Data></Cell>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.fcmu_2 %></Data></Cell>
    <Cell ss:StyleID="s239"><Data ss:Type="Number"><%= company.fcmu_1 %></Data></Cell>
    <Cell ss:StyleID="s240"><Data
      ss:Type="Number"><%= company.fcmu_avg %></Data></Cell>
    <% end %>
   </Row>
   <% end %>
   <Row ss:Index="8" ss:AutoFitHeight="0" ss:Height="40">
    <Cell ss:Index="13" ss:MergeAcross="3" ss:StyleID="s205"><Data ss:Type="String">Final sample PLI results</Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0" ss:Height="40">
    <Cell ss:Index="13" ss:StyleID="s203"><Data ss:Type="Number">2013</Data></Cell>
    <Cell ss:StyleID="s109"><Data ss:Type="Number">2012</Data></Cell>
    <Cell ss:StyleID="s204"><Data ss:Type="Number">2011</Data></Cell>
    <Cell ss:StyleID="s124"><Data ss:Type="String">W/A</Data></Cell>
   </Row>
<Row ss:AutoFitHeight="0">
    <Cell ss:Index="11" ss:MergeAcross="1" ss:StyleID="m106102877868560"><Data
      ss:Type="String">Maximum</Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-6]C:R[-4]C)"><Data ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-6]C:R[-4]C)"><Data ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-6]C:R[-4]C)"><Data ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s195" ss:Formula="=MIN(R[-6]C:R[-4]C)"><Data ss:Type="Number"></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="11" ss:MergeAcross="1" ss:StyleID="m106102877868580"><Data
      ss:Type="String">3rd Quartile</Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-7]C:R[-5]C,3)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-7]C:R[-5]C,3)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-7]C:R[-5]C,3)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s251" ss:Formula="=QUARTILE(R[-7]C:R[-5]C,3)"><Data
      ss:Type="Number"></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="11" ss:MergeAcross="1" ss:StyleID="m106102877868600"><Data
      ss:Type="String">Median</Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=MEDIAN(R[-8]C:R[-6]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=MEDIAN(R[-8]C:R[-6]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=MEDIAN(R[-8]C:R[-6]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s251" ss:Formula="=MEDIAN(R[-8]C:R[-6]C)"><Data
      ss:Type="Number"></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="11" ss:MergeAcross="1" ss:StyleID="m106102877868640"><Data
      ss:Type="String">1st Quartile</Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-9]C:R[-7]C,1)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-9]C:R[-7]C,1)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s250" ss:Formula="=QUARTILE(R[-9]C:R[-7]C,1)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s251" ss:Formula="=QUARTILE(R[-9]C:R[-7]C,1)"><Data
      ss:Type="Number"></Data></Cell>
   </Row>
   <Row ss:AutoFitHeight="0">
    <Cell ss:Index="11" ss:MergeAcross="1" ss:StyleID="m106102877868620"><Data
      ss:Type="String">Minimum</Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-10]C:R[-8]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-10]C:R[-8]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s194" ss:Formula="=MIN(R[-10]C:R[-8]C)"><Data
      ss:Type="Number"></Data></Cell>
    <Cell ss:StyleID="s195" ss:Formula="=MIN(R[-10]C:R[-8]C)"><Data
      ss:Type="Number"></Data></Cell>
   </Row>
  </Table>
  <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
   <PageSetup>
    <Layout x:Orientation="Landscape" x:CenterHorizontal="1"/>
    <Header x:Margin="0.3"
     x:Data="&amp;L&amp;&quot;Helvetica,Normal&quot;first version PG&#10;Fahim Entreprises&amp;R&amp;&quot;Helvetica,Normal&quot;Financial Analysis"/>
    <Footer x:Margin="0.3" x:Data="&amp;C&amp;&quot;Calibri,Normal&quot;&amp;K000000&amp;P/&amp;N"/>
    <PageMargins x:Bottom="0.75" x:Left="0.7" x:Right="0.7" x:Top="0.75"/>
   </PageSetup>
   <Unsynced/>
   <FitToPage/>
   <Print>
    <ValidPrinterInfo/>
    <PaperSizeIndex>9</PaperSizeIndex>
    <Scale>53</Scale>
    <VerticalResolution>0</VerticalResolution>
   </Print>
   <Selected/>
   <DoNotDisplayGridlines/>
   <Panes>
    <Pane>
     <Number>3</Number>
     <ActiveRow>12</ActiveRow>
     <ActiveCol>5</ActiveCol>
    </Pane>
   </Panes>
   <ProtectObjects>False</ProtectObjects>
   <ProtectScenarios>False</ProtectScenarios>
  </WorksheetOptions>
 </Worksheet>
</Workbook>
